canvas{
	width: 75% !important;
	max-width: 75%;
}
main{
	width: 25%;
    max-width: 25%;
    float: right;
    height: 100vh;
    overflow: hidden;
}

#view{
    padding: 0em 1em;
    margin: 0;
    height: 100vh;
    overflow: scroll;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}