<h4> PM Editor 
  <strong ng-cloak ng-show="idReady"><small> 
  <a ng-click="saveExperience()" href="">{{storyID}}</a> </small></strong></h4>
   <button ng-click="saveExperience()">Previsuaizar</button>

  <div ng-hide="idReady">
  <h5> ¿Queres armar una historia nueva? </h5>
      <button ng-click="createNewStory()">Crear Nueva Historia</button>
      <div ng-show="activeProjects.length > 0">
      <h5> Tenes {{activeProjects.length}} historia<span ng-show="activeProjects.length > 1">s</span> guardada<span ng-show="activeProjects.length > 1">s</span> </h5>
       <div class="col s12" ng-repeat="item in activeProjects">
            <h6><a href="" ng-click="loadStory(item.story)"> {{item.title}} <small> {{item.story}} </a>
              <button ng-click="loadStory(item.story)">Cargar</button></h6>
        </div>
      </div>

  </div>


<div ng-cloak ng-show="idReady">
  <h5>¿De que trata esta historia?</h5>
  <input type="search" placeholder="Ponele un titulo." ng-change="saveModel()" ng-model="title"/>
  <div ng-cloak ng-show="title">
  <h5>1. Modelo 3d </h5>
  <input type="search" placeholder="Escribi la URL de tu Modelo DAE " ng-model="model"/>
  <button ng-click="saveExperience()">Actualizar</button>

  <h4>2. Banda Sonora </h4>
  <p> Elegi una banda sonora que va a sonar en loop todo el tiempo </p>
  <div class="input-field col s12">
        <input placeholder="Url"  ng-model="soundtrack.audioURL" type="text" >
              <button ng-click='loadAudio(soundtrack)'>Cargar</button>
              <div ng-show="soundtrack.audio">
                <div ng-show="soundtrack.audio.audio.error">
                  <strong> No pudimos leer el audio:(</strong>
                </div>
                <div ng-hide="soundtrack.audio.audio.error">
              <button ng-click='soundtrack.audio.play()'>Play</button>
              <button ng-click='soundtrack.audio.pause()'>Pause</button>
              <button ng-click='soundtrack.audio.restart()'>Stop</button>
              <button ng-click='soundtrack.audio.muting = !soundtrack.audio.muting'>Mute</button>
       </div>
        </div>
      </div>

  <h4>3. Punto de Interes </h4>
  Elegi los puntos de interes en tu modelo.
  Para navegarlos usa<strong> WASD</strong> y cambia W/S con <strong>ENTER</strong> para moverte hacia arriba y abajo.
  Para elegirlo presiona <strong> SPACE </strong>
  <ul>
  	<li ng-repeat="cp in checkpoints">
  		<h5>{{$index}}  <small><button style="rojo" ng-click='removeCheckpoint(cp,$index)'>Borrar</button></small></h5>
  		<p><strong>X</strong>{{cp.pos.x}}</p>
  		<p><strong>Y</strong>{{cp.pos.y}}</p>
  		<p><strong>Z</strong>{{cp.pos.z}}</p>
      <h6> Audio </h6>
      <div class="input-field col s12">
        <input placeholder="Url"  ng-model="cp.audioURL" type="text" >
              <button ng-click='loadAudio(cp)'>Cargar</button>
              <div ng-show="cp.audio">
                <div ng-show="cp.audio.audio.error">
                  <strong> No pudimos leer el audio:(</strong>
                </div>
                <div ng-hide="cp.audio.audio.error">
              <button ng-click='cp.audio.play()'>Play</button>
              <button ng-click='cp.audio.pause()'>Pause</button>
              <button ng-click='cp.audio.restart()'>Stop</button>
              <button ng-click='cp.audio.muting = !cp.audio.muting'>Mute</button>
       </div>
        </div>
      </div>
  	</li>

  </ul>
  <h4> 4. Previsualizar </h4>
  <h5><button ng-click="saveExperience()">Recargar el modelo</button> <button ng-click="downloadJSON()">Bajar JSON.</button></h5>
  </div>
</div>

